
<div class="custom-container" style="padding-top: 5%; padding-bottom: 5%">
  <div class="not-found-div">
    <img src="{{ 'not_found-icon.svg' |  asset_url }}" alt="Not Found Icon" class="img-search">
    <h1 class="no-reults-txt"><strong class="bold-no-reults">LO SENTIMOS</strong><br>{{ 'templates.404.subtext' | t }} - {{ 'templates.404.title' | t }}</h1>
    <a href="{{ routes.all_products_collection_url }}" class="loginpopbtn center w-button" style="width: fit-content;margin: auto;line-height: 27px;" >
      {{ 'general.continue_shopping' | t }}
    </a>
  </div>
</div>

