
{%- paginate blog.articles by 6 -%}

  <div class="seccblog">
    <div class="custom-container">

      <div class="titlecontainer">
        <h1 class="secctitle red">{{ blog.title }}</h1>
        <div class="linetitle"></div>
      </div>

      <p class="parrafo-about">{{ section.settings.description }}</p>
      
      <div id="w-node-b725b5b9-a9eb-4473-4289-8d3c40e3f22f-bfeb76f0" class="w-layout-layout stackblog wf-layout-layout">

        <div id="w-node-b725b5b9-a9eb-4473-4289-8d3c40e3f230-bfeb76f0" class="w-layout-cell">

          {% for article in blog.articles %}
            {%- render 'article-card',
            article: article,
            show_date: section.settings.show_date,
            show_author: section.settings.show_author,
            show_excerpt: section.settings.show_excerpt
            -%}
          {% endfor %}

        </div>

        <div id="w-node-b725b5b9-a9eb-4473-4289-8d3c40e3f231-bfeb76f0" class="w-layout-cell">
          <div class="cont-tagsblog">
            <h2 class="tagstitle">Etiquetas</h2>
            {% for tag in blog.all_tags %}
              <a href="/blogs/{{ blog.title | handle }}/tagged/{{ tag | handle }}" class="tagblog {% if current_tags contains tag %}selected{% endif %}">
                {{ tag }}
              </a>
            {% endfor %}
            <a href="{{ blog.url }}" class="tagblog {% if current_tags == blank %}selected{% endif %}">Todo</a>
          </div>
        </div>


      </div>

    </div>
    {%- if paginate.pages > 1 -%}
      {%- render 'pagination', paginate: paginate -%}
    {%- endif -%}
  </div>


{%- endpaginate -%}

{% schema %}
{
  "name": "t:sections.main-blog.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "textarea",
      "id": "description",
      "label": "Descripcion"
    },
    {
      "type": "checkbox",
      "id": "show_date",
      "label": "Mostrar fecha",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_author",
      "label": "Mostrar autor",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_excerpt",
      "label": "Mostrar extracto",
      "default": true
    }
  ]
}
{% endschema %}
