  <!--*Header-->
  <div data-w-id="87a25407-152c-71f3-41d0-66c4ea8a835a" class="sectionheader">
    <div class="topbanner">
      <div class="custom-container">
        <div data-delay="4000" data-animation="cross" class="topbannerslider w-slider" data-autoplay="true" data-easing="ease" data-hide-arrows="false" data-disable-swipe="false" data-autoplay-limit="0" data-nav-spacing="3" data-duration="750" data-infinite="true">
          <div class="masktop-slider w-slider-mask">
            <div class="topslide w-slide">
              <div class="continfotop-flex">
                <a href="#" class="linktopbanner">ENVÍOS GRATIS - A todo México en compras mayores a $ 1,500.00</a>
              </div>
            </div>
            <div class="topslide w-slide">
              <div class="continfotop-flex">
                <a href="#" class="linktopbanner">Conoce la  NUEVA COLECCIÓN Primavera-Verano  YALE</a>
              </div>
            </div>
          </div>
          <div class="arrowtop-slider w-slider-arrow-left">
            <div class="w-icon-slider-left"></div>
          </div>
          <div class="arrowtop-slider w-slider-arrow-right">
            <div class="w-icon-slider-right"></div>
          </div>
          <div class="topslidenav w-slider-nav"></div>
        </div>
      </div>
    </div>
    <div data-animation="default" data-collapse="medium" data-duration="400" data-easing="ease" data-easing2="ease" role="banner" class="custom-navbar w-nav">
      <div class="custom-container navbar">
        <div class="topelementsnav">
          <div class="menu-button w-nav-button">
            <div class="w-icon-nav-menu"></div>
          </div>
          <div class="cont-cartcontact">
            <div class="desktopsearch w-form">
              <form id="email-form-3" name="email-form-3" data-name="Email Form 3" method="get" class="form w-clearfix" data-wf-page-id="67854df14d52ac77bfeb76ea" data-wf-element-id="87a25407-152c-71f3-41d0-66c4ea8a8373"><input class="buscador-input w-input" maxlength="256" name="buscador-2" data-name="Buscador 2" placeholder="Buscar..." type="text" id="buscador-2"><input type="submit" data-wait="Please wait..." class="buscar-btn w-button" value="Submit">
                <div class="contsearchpredictive">
                  <a href="#" class="itemrecomend w-inline-block">
                    <div id="w-node-_977826da-9edd-e5c7-8ce0-63dfcb1f0bbd-ea8a835a" class="w-layout-layout quick-stack wf-layout-layout">
                      <div class="w-layout-cell cellpicrecomend"><img src="{{ "pmenu2.jpg" | asset_url }}"  alt="" class="picrecomend"></div>
                      <div class="w-layout-cell cellnamerecomend">
                        <div class="namerecomend">Pantalón Vestir sin Pinzas Classic Fit, Cintura Regular, Corte Recto, Pierna Recta</div>
                      </div>
                    </div>
                  </a>
                  <a href="#" class="itemrecomend w-inline-block">
                    <div id="w-node-_92717349-4360-e6ec-08d0-df63eb83a4d2-ea8a835a" class="w-layout-layout quick-stack wf-layout-layout">
                      <div class="w-layout-cell cellpicrecomend"><img src="{{ "pmenu2.jpg" | asset_url }}"  alt="" class="picrecomend"></div>
                      <div class="w-layout-cell cellnamerecomend">
                        <div class="namerecomend">Pantalón Vestir sin Pinzas Classic Fit, Cintura Regular, Corte Recto, Pierna Recta</div>
                      </div>
                    </div>
                  </a>
                  <a href="#" class="itemrecomend w-inline-block">
                    <div id="w-node-_4327d44d-5a99-0e38-f5b4-40a4744fd13a-ea8a835a" class="w-layout-layout quick-stack wf-layout-layout">
                      <div class="w-layout-cell cellpicrecomend"><img src="{{ "pmenu2.jpg" | asset_url }}"  alt="" class="picrecomend"></div>
                      <div class="w-layout-cell cellnamerecomend">
                        <div class="namerecomend">Pantalón Vestir sin Pinzas Classic Fit, Cintura Regular, Corte Recto, Pierna Recta</div>
                      </div>
                    </div>
                  </a>
                  <a href="#" class="itemrecomend w-inline-block">
                    <div id="w-node-_10e56cf6-dda3-492a-41bc-1f5847182c5f-ea8a835a" class="w-layout-layout quick-stack wf-layout-layout">
                      <div class="w-layout-cell cellpicrecomend"><img src="{{ "pmenu2.jpg" | asset_url }}"  alt="" class="picrecomend"></div>
                      <div class="w-layout-cell cellnamerecomend">
                        <div class="namerecomend">Pantalón Vestir sin Pinzas Classic Fit, Cintura Regular, Corte Recto, Pierna Recta</div>
                      </div>
                    </div>
                  </a>
                  <a href="#" class="itemrecomend w-inline-block">
                    <div id="w-node-e26479cd-db04-32ce-c10d-607976973abd-ea8a835a" class="w-layout-layout quick-stack wf-layout-layout">
                      <div class="w-layout-cell cellpicrecomend"><img src="{{ "pmenu2.jpg" | asset_url }}"  alt="" class="picrecomend"></div>
                      <div class="w-layout-cell cellnamerecomend">
                        <div class="namerecomend">Pantalón Vestir sin Pinzas Classic Fit, Cintura Regular, Corte Recto, Pierna Recta</div>
                      </div>
                    </div>
                  </a>
                </div>
              </form>
              <div class="w-form-done">
                <div>Thank you! Your submission has been received!</div>
              </div>
              <div class="w-form-fail">
                <div>Oops! Something went wrong while submitting the form.</div>
              </div>
            </div>
          </div>
          <a href="#" class="logonav w-nav-brand"><img src="{{ "YALE_LOGO_BALNCO.svg" | asset_url }}" loading="eager" alt="somnistore logo" class="imglogo-nav"></a>
          <div class="cont-cartcontact">
            <div href="#" class="linkicons-nav buscadormobile"><img src="{{ "search_icon.svg" | asset_url }}" loading="eager" alt="" class="icononav" data-ix="show-mobilesearch">
              <div class="mobilesearch w-form" data-ix="hiddensearchmobile">
                <form id="wf-form-" name="wf-form-" data-name="" method="get" class="busqueda-formcot" data-wf-page-id="67854df14d52ac77bfeb76ea" data-wf-element-id="9e6d663c-ed64-ba18-7c49-bc7501bb3e68">
                  <div class="close-buscador" data-ix="close-mobilesarch">X</div><input class="input-buscador w-input" maxlength="256" name="email-2" data-name="Email 2" placeholder="Buscar" type="text" id="email-2"><input type="submit" data-wait="Buscando..." class="buscarbtn w-button" value="Buscar">
                  <div class="contsearchpredictive">
                    <a href="#" class="itemrecomend w-inline-block">
                      <div id="w-node-_77b5f035-f6bc-fd1f-aef7-5b8b5073a04a-ea8a835a" class="w-layout-layout quick-stack wf-layout-layout">
                        <div class="w-layout-cell cellpicrecomend"><img src="{{ "pmenu2.jpg" | asset_url }}"  alt="" class="picrecomend"></div>
                        <div class="w-layout-cell cellnamerecomend">
                          <div class="namerecomend">Pantalón Vestir sin Pinzas Classic Fit, Cintura Regular, Corte Recto, Pierna Recta</div>
                        </div>
                      </div>
                    </a>
                    <a href="#" class="itemrecomend w-inline-block">
                      <div id="w-node-_77b5f035-f6bc-fd1f-aef7-5b8b5073a051-ea8a835a" class="w-layout-layout quick-stack wf-layout-layout">
                        <div class="w-layout-cell cellpicrecomend"><img src="{{ "pmenu2.jpg" | asset_url }}"  alt="" class="picrecomend"></div>
                        <div class="w-layout-cell cellnamerecomend">
                          <div class="namerecomend">Pantalón Vestir sin Pinzas Classic Fit, Cintura Regular, Corte Recto, Pierna Recta</div>
                        </div>
                      </div>
                    </a>
                    <a href="#" class="itemrecomend w-inline-block">
                      <div id="w-node-_77b5f035-f6bc-fd1f-aef7-5b8b5073a058-ea8a835a" class="w-layout-layout quick-stack wf-layout-layout">
                        <div class="w-layout-cell cellpicrecomend"><img src="{{ "pmenu2.jpg" | asset_url }}"  alt="" class="picrecomend"></div>
                        <div class="w-layout-cell cellnamerecomend">
                          <div class="namerecomend">Pantalón Vestir sin Pinzas Classic Fit, Cintura Regular, Corte Recto, Pierna Recta</div>
                        </div>
                      </div>
                    </a>
                    <a href="#" class="itemrecomend w-inline-block">
                      <div id="w-node-_77b5f035-f6bc-fd1f-aef7-5b8b5073a05f-ea8a835a" class="w-layout-layout quick-stack wf-layout-layout">
                        <div class="w-layout-cell cellpicrecomend"><img src="{{ "pmenu2.jpg" | asset_url }}"  alt="" class="picrecomend"></div>
                        <div class="w-layout-cell cellnamerecomend">
                          <div class="namerecomend">Pantalón Vestir sin Pinzas Classic Fit, Cintura Regular, Corte Recto, Pierna Recta</div>
                        </div>
                      </div>
                    </a>
                    <a href="#" class="itemrecomend w-inline-block">
                      <div id="w-node-_77b5f035-f6bc-fd1f-aef7-5b8b5073a066-ea8a835a" class="w-layout-layout quick-stack wf-layout-layout">
                        <div class="w-layout-cell cellpicrecomend"><img src="{{ "pmenu2.jpg" | asset_url }}"  alt="" class="picrecomend"></div>
                        <div class="w-layout-cell cellnamerecomend">
                          <div class="namerecomend">Pantalón Vestir sin Pinzas Classic Fit, Cintura Regular, Corte Recto, Pierna Recta</div>
                        </div>
                      </div>
                    </a>
                  </div>
                </form>
                <div class="w-form-done"></div>
                <div class="w-form-fail"></div>
              </div>
            </div>
            <a href="contacto.html" class="linkicons-nav mobile w-inline-block"><img src="{{ "mail_icon.svg" | asset_url }}" loading="eager" alt="" class="icononav"></a>
            <a href="#" class="linkicons-nav mobile w-inline-block"><img src="{{ "user_icon.svg" | asset_url }}" loading="eager" alt="" class="icononav" data-ix="showloginmodal"></a>
            <div class="linkicons-nav"><img src="{{ "cart_icon.svg" | asset_url }}"  alt="" class="icononav">
              <div class="qtynumber">12</div>
            </div>
          </div>
        </div>
        <nav role="navigation" class="custom-navigationmenu w-nav-menu">
          <div data-hover="true" data-delay="0" class="customdrop-nav w-dropdown">
            <div class="menunav-link drop w-dropdown-toggle">
              <div class="icondropmenu w-icon-dropdown-toggle"></div>
              <div>PARTES ALTAS</div>
            </div>
            <nav class="megamenu-colecciones w-dropdown-list">
              <div class="containermegamenufull">
                <div class="contlistmegamenu">
                  <ul role="list" class="listamenunav">
                    <li class="itemlistmenu">
                      <a href="#" class="titlecatesubmenu">Camisas manga corta</a>
                    </li>
                    <li class="itemlistmenu">
                      <a href="#" class="titlecatesubmenu">Camisas manga larga</a>
                    </li>
                    <li class="itemlistmenu">
                      <a href="#" class="titlecatesubmenu">Playeras</a>
                    </li>
                    <li class="itemlistmenu">
                      <a href="#" class="titlecatesubmenu">Cuello cubano</a>
                    </li>
                    <li class="itemlistmenu">
                      <a href="#" class="titlecatesubmenu">Chalecos</a>
                    </li>
                    <li class="itemlistmenu">
                      <a href="#" class="titlecatesubmenu">Suéters</a>
                    </li>
                    <li class="itemlistmenu">
                      <a href="#" class="titlecatesubmenu maintitle">Ver todo</a>
                    </li>
                  </ul>
                  <a id="w-node-_6ddda5d2-cf73-8857-d18b-8c1adbcb2bb0-ea8a835a" href="#" class="imglinkmegam w-inline-block"><img  src="{{ "pmenu1.jpg" | asset_url }}" alt="" class="imgmegamenu">
                    <div class="namefoto-megamenu">Camisa Con Botton Down Regular Fit</div>
                  </a>
                  <a id="w-node-_7966ba16-c55b-cc84-9672-eb3b52a84d35-ea8a835a" href="#" class="imglinkmegam w-inline-block"><img  src="{{ "pmenu2.jpg" | asset_url }}" alt="" class="imgmegamenu">
                    <div class="namefoto-megamenu">Playera Manga Corta Tipo Polo Rayas Classic Fit</div>
                  </a>
                  <a id="w-node-_6ddda5d2-cf73-8857-d18b-8c1adbcb2bb4-ea8a835a" href="#" class="imglinkmegam w-inline-block"><img  src="{{ "pmenu3.jpg" | asset_url }}" alt="" class="imgmegamenu">
                    <div class="namefoto-megamenu">Camizola Manga Larga – Color Champagne</div>
                  </a>
                </div>
              </div>
            </nav>
          </div>
          <a href="#" class="menunav-link w-nav-link">JUVENIL</a>
          <a href="#" class="menunav-link w-nav-link">NUEVA TEMPORADA</a>
          <a href="#" class="menunav-link w-nav-link">TIENDAS</a>
          <a href="#" class="menunav-link rebajas w-nav-link">% REBAJAS</a>
          <div class="extramenu-mobile"><img src="{{ "icon_cuenta_blue.svg" | asset_url }}"  alt="" class="icnomenu-mobile">
            <a href="#" class="menunav-link mobile nav-link w-nav-link">MI CUENTA</a>
          </div>
          <div class="extramenu-mobile"><img src="{{ "icon_contact_blue.svg" | asset_url }}"  alt="" class="icnomenu-mobile">
            <a href="#" class="menunav-link mobile nav-link w-nav-link">CONTACTO</a>
          </div>
        </nav>
      </div>
    </div>
  </div>
  <!--*Header-->